* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #000;
    color: #fff;
}

header {
    background: url('black.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.artist-info {
    display: flex;
    align-items: center;
    text-align: center;
}

/* תמונה עגולה של האמן */
.artist-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.artist-name {
    font-size: 2em;
    margin: 0;
}

/* עיצוב למובייל */
@media (max-width: 800px) {
    .site-header {
        flex-direction: column;
    }
    .artist-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.5rem;
}

nav {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background: #575757;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
.social-media {
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    justify-content: center;
}

.social-media a {
    margin: 0 1rem;
    text-decoration: none;
    color: transparent;
}

.social-media img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.music-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.music-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.music-row iframe {
    width: 48%;
}

@media (max-width: 800px) {
    .music-row {
        flex-direction: column;
        align-items: center;
    }
    .music-row iframe {
        width: 100%;
        margin-bottom: 1rem;
    }
    .social-media a {
        width: 48px;
        height: 48px;
    }
}
button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button, .social-media a {
    min-width: 48px;
    min-height: 48px;
}
